<form method="POST" action="/new">
  <h1 class="form-title">New Message Form</h1>
  <label for="authorsName">Author's Name</label>
  <input type="text" name="authorsName" />
  <label for="message">Message</label>
  <textarea name="message"></textarea>
  <button type="submit">Submit</button>
</form>
<a href="/">Home</a>
